.logo{
    width: 60px;
    animation: App-logo-spin infinite 20s linear;
    pointer-events: none;
    @media screen and (max-width: 991px) and (min-width: 50px) {
        width: 30px;
    }
}
.container{
    max-width: 80%;
    padding: 40px;
    width: 500px;
    border-left: solid;
    border-left-color: white;
    position: absolute;
    display: inline-block;
    color: white;
    margin: 25% 50%;
    transform: translate(-50%, -50%) ;
    @media screen and (max-width: 991px) and (min-width: 50px) {
        margin: 50%;
        padding: 10px;
    }
}
html{
    height: 100%;
}
body{
    background-color: black;
    position: relative;
}
h1{ 
    position: relative;
    top: -5px;
    left: 135px;
    margin: 50px 0px;
    @media screen and (max-width: 991px) and (min-width: 50px) {
        font-size: 20px;
        margin: 30px -70px;
    }
}
h4{
    margin: 30px;
}
title{
    position: relative;
    height: 600px;
    background-color: red;
}

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(3000deg);
    }
  }